<h1 style="@ChildStyle">Child component text - Employee age: @ChildAge</h1>
<GrandChildComponent ></GrandChildComponent>

@code
{
    [CascadingParameter]
    public string ChildStyle { get; set; }
    [CascadingParameter]
    public int ChildAge { get; set; }
}
