<h1 style="@ChildColor; @ChildBorder">Child component text - Counter: @ChildCounter </h1>
<GrandChildComponent ></GrandChildComponent>

@code
{
    [CascadingParameter(Name = "ColorStyle")]
    public string ChildColor { get; set; }
    [CascadingParameter(Name = "BorderStyle")]
    //public int ChildAge { get; set; }
    public string ChildBorder { get; set; }
    [CascadingParameter(Name = "Counter")]
    public int ChildCounter { get; set; }

}
