<h1 style="@GrandChildColor;@GrandChildBorder">Grand Child Component</h1>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string GrandChildColor { get; set; }
    [CascadingParameter(Name = "BorderStyle")]
    public string GrandChildBorder { get; set; }
}

